# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# Dependencies
/.pnpm-store

# Environment variables
.env
.env*.local

# Debug logs
pnpm-debug.log*

# System Files
Thumbs.db

# Docker
postgres-data/

.idea

ssh-key-2025-11-27.key

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/minio-data/.minio.sys/tmp/7e0ff67d-a4ed-48e9-bd0f-d82b3bbe2365
/minio-data/.minio.sys/format.json
/pnpm-workspace.yaml
/minio-data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
/minio-data/.minio.sys/buckets/.usage.json/xl.meta
/minio-data/.minio.sys/buckets/.usage-cache.bin/xl.meta
/minio-data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
/minio-data/.minio.sys/buckets/gdpatisserie/.metadata.bin/xl.meta
/minio-data/.minio.sys/buckets/gdpatisserie/.usage-cache.bin/xl.meta
/minio-data/.minio.sys/buckets/gdpatisserie/.usage-cache.bin.bkp/xl.meta
/minio-data/.minio.sys/config/config.json/xl.meta
/minio-data/.minio.sys/config/iam/format.json/xl.meta
/minio-data/.minio.sys/config/iam/sts/0IW9V7FEKAOVS8X7WNY7/identity.json/xl.meta
/minio-data/.minio.sys/config/iam/sts/3IMGQLKO3CY62MLB19XA/identity.json/xl.meta
/minio-data/.minio.sys/pool.bin/xl.meta
/minio-data/gdpatisserie/1772379541875-unnamed.jpg/xl.meta
/minio-data/gdpatisserie/logo.ico/xl.meta
/minio-data/.minio.sys/tmp/.trash/5c620f3b-f04d-44a9-98cc-6cb1218b90c0/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/7d5d8d40-f303-4e96-a00f-f4acffd5d821/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/8ee0e21c-bd75-4f70-ae4a-a14816633150/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/11f3c09e-7c91-43c5-8328-0b5d602fddf3/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/47b650f9-3d07-494d-9e07-0c139fc7357a/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/65d85f55-0c08-4258-ad36-5956e5c64b67/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/72a67d35-77c3-46bf-9b08-ec4c5adc6050/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/85ad319f-ee96-4af4-b06c-7d2bd11872af/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/133fa006-5495-4808-ba98-429f9cb2f286/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/331b16eb-22dc-4f8f-9c83-c18654c257a8/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/590b6dae-4aaa-49b3-afc0-77fc222363a4/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/597a35ac-0f4c-40b0-b30b-3536182c2dc9/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/6525f030-9bdd-421b-acdf-5af41271aeaf/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/7711bcb3-1e5b-4914-b998-b72ec18e5e72/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/98889dfc-5d12-4216-bb26-59de36e03771/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/3284913b-c06a-46c1-8658-1d594fe63f70/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/a4733298-8866-4ba6-b096-18f606593f10/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/b4f20c1a-389b-4e22-bcf1-91c2b9822754/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/d40c8c7d-c018-4933-a07e-263a38e0e6a7/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/d3418ac2-b389-4278-8967-49d2711bc32e/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/e15aeeb6-dcd1-4294-909f-06d90b76dd28/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/ef71544e-7b33-406d-8129-e34cfd7f4b70/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/f897c1bd-1b7e-4414-95ab-f501325e4776/xl.meta.bkp
/minio-data/.minio.sys/tmp/.trash/f1484e54-f674-4af4-94b3-79013cb960f2/xl.meta.bkp
